{% extends 'base.html.twig' %}


{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h1>
				<i class="fas fa-shopping-cart"></i>
				0 Produit(s) :
				<b>0,00 €</b>
			</h1>
			<div class="col-md-12 btn-group btn-group-lg" role="group">
				<a class="btn btn-primary" href="/mi5/fr/boutique">
					Continuer les Courses
				</a>
			</div>
		</div>
		<div class="card-body"></div>
	</div>
{% endblock %}
